@model ClientProject.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h2>Ajouter un employé</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="firstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="lastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="login" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="mail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="wallet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="wallet" class="form-control" />
                <span asp-validation-for="wallet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="responsable" />
                    <label asp-for="responsable"></label>
                </div>
            </div>
    </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Créer" class="btn btn-default" />
                </div>
            </div>
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
