@model ClientProject.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifier Profil</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.wallet)
            </dt>
            <dd>
                 @Html.DisplayFor(model => model.wallet)
            </dd>
        </dl>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="firstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="login" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="login" class="form-control" />
                    <span asp-validation-for="login" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="mail" class="form-control" />
                    <span asp-validation-for="mail" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
